<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kp.penggajian">

    <!-- Permission -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/pdam"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.Penggajian">
        <activity android:name=".ui.gaji.UpdateGajiPegawai"
            android:label="@string/gaji_pegawai"/>
        <activity android:name=".ui.jabatan.UpdateJabatan"
            android:label="@string/update_jabatan"/>
        <activity android:name=".ui.jabatan.TambahJabatan"
            android:label="@string/tambah_jabatan"/>
        <activity android:name=".ui.bagian.UpdateBagianDevisi"
            android:label="@string/edit_divisi"/>
        <activity android:name=".ui.bagian.TambahBagian"
            android:label="@string/tambah_divisi"/>
        <activity
            android:name=".ui.pegawai.ShowDetailData"
            android:label="@string/data_pegawai" />
        <activity
            android:name=".ui.pegawai.TambahDataPegawai"
            android:label="@string/add_pegawai" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/Theme.Penggajian.NoActionBar" />
        <activity android:name=".Common.LoginSignUp.SmsVerifyOTP" />
        <activity android:name=".Common.LoginSignUp.VerifyOTP" />
        <activity android:name=".Common.LoginSignUp.SignupActivity3" />
        <activity android:name=".Common.LoginSignUp.SignupActivity2" />
        <activity android:name=".Common.LoginSignUp.SignupActivity" />
        <activity android:name=".Common.LoginSignUp.LoginActivity" />
        <activity android:name=".Common.LoginSignUp.RetailerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>