<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kp.penggajian">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/pdam"
        android:supportsRtl="true"
        android:theme="@style/Theme.Penggajian">
        <activity android:name=".ui.dashboard.TambahDataPegawai"
            android:label="@string/add_pegawai"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/Theme.Penggajian.NoActionBar" />
        <activity android:name=".Common.LoginSignUp.SmsVerifyOTP" />
        <activity android:name=".Common.LoginSignUp.VerifyOTP" />
        <activity android:name=".Common.LoginSignUp.SignupActivity3" />
        <activity android:name=".Common.LoginSignUp.SignupActivity2" />
        <activity android:name=".Common.LoginSignUp.SignupActivity" />
        <activity android:name=".Common.LoginSignUp.LoginActivity" />
        <activity android:name=".Common.LoginSignUp.RetailerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>